<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiang.api.recharge.mapper.RechargeInfoMapper">
  <resultMap id="BaseResultMap" type="com.yixiang.api.recharge.pojo.RechargeInfo">
    <result column="t_id" jdbcType="INTEGER" property="id" />
    <result column="t_user_id" jdbcType="INTEGER" property="userId" />
    <result column="t_template_id" jdbcType="INTEGER" property="templateId" />
    <result column="t_price" jdbcType="REAL" property="price" />
    <result column="t_bonus" jdbcType="REAL" property="bonus" />
    <result column="t_pay_way" jdbcType="INTEGER" property="payWay" />
    <result column="t_out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="t_trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="t_state" jdbcType="INTEGER" property="state" />
    <result column="t_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="t_pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="t_refund_time" jdbcType="TIMESTAMP" property="refundTime" />
  </resultMap>
  <sql id="Base_Column_List">
    t.id as t_id, t.user_id as t_user_id, t.template_id as t_template_id, t.price as t_price, 
    t.bonus as t_bonus, t.pay_way as t_pay_way, t.out_trade_no as t_out_trade_no, t.trade_no as t_trade_no, 
    t.state as t_state, t.create_time as t_create_time, t.pay_time as t_pay_time, t.refund_time as t_refund_time
  </sql>
  <select id="selectByExample" parameterType="com.yixiang.api.util.pojo.QueryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recharge_info t
    <if test="_parameter != null">
      <include refid="com.yixiang.api.util.mapper.UtilMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit!=null and limit>0">
		limit #{offset},#{limit}
	</if>
	<if test="lock!=null and lock">
		for update
	</if>
  </select>
  <insert id="insertSelective" parameterType="com.yixiang.api.recharge.pojo.RechargeInfo" useGeneratedKeys="true" keyProperty="id">
    insert into recharge_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="payWay != null">
        pay_way,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=REAL},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yixiang.api.util.pojo.QueryExample" resultType="java.lang.Long">
    select count(1) from recharge_info t
    <if test="_parameter != null">
      <include refid="com.yixiang.api.util.mapper.UtilMapper.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update recharge_info t
    <set>
      <if test="record.userId != null">
        t.user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.templateId != null">
        t.template_id = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        t.price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.bonus != null">
        t.bonus = #{record.bonus,jdbcType=REAL},
      </if>
      <if test="record.payWay != null">
        t.pay_way = #{record.payWay,jdbcType=INTEGER},
      </if>
      <if test="record.outTradeNo != null">
        t.out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeNo != null">
        t.trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        t.state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        t.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null">
        t.pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refundTime != null">
        t.refund_time = #{record.refundTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="com.yixiang.api.util.mapper.UtilMapper.Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>